/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    box-sizing: border-box;
}
header{
    padding: 50px;
    height: 101%;
    width: 101%;
    text-align: center;
}

h2{
    color: rgba(61, 30, 113, 0.8);
    font-weight: 700;
}
    




body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to bottom right,
    rgba(254, 173, 123, 0.8),
    rgb(215, 109, 119, 0.8),
    rgba(61, 30, 113, 0.8));
    background-repeat: no-repeat
}

.card{
    margin-top: 5px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem;
    color: black;
    height: 480px;
    width: 340px;
    background-color: #FFC72C;
}
figcaption{
    margin-top: -1;
    padding: 10px;
    width: 97%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.101);
    text-align: center;
   
}
img{
    border-radius: 5px;
    padding: 4px;
    width :  100%;
    border: 1px solid black;
    background-color: black;
}
.details-container{
    background-color: rgba(0, 0, 0, 0.101);
    border-radius: 6px;
    width:97%
}
.caption-container, figcaption{
    font-weight: 600;
    color: rgb(74, 71, 71);
    margin: 0 auto;
    padding: 0 auto;
}

footer{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

p{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 75px;
    padding-bottom: 75px;
    color: lavender;
}

strong{
    color: black;
}

@media (max-width: 750px) {
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 80vw;
        margin-bottom: 50px;
    }
    p{
        margin-bottom: 2px;
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 2px;
        text-align: center;
    }
    .card{
        width: 80vw;
    }

}
